body{
    transition: 1s;
    margin: 0;
    background-size:100% auto;
    background-color:#f1f1f1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
  }

.top{
    padding: 1px;
    background-color: pink;
    text-align: center;
    /*opacity:0.8;*/
}
.toptitle{
    color:white;
    font-size: 48px;
    /*opacity:0.8;*/
}

.menu{
    padding: 5px;
    box-shadow: #c4c4c4 0px 5px 5px;
    background-color: white;
}p{
    text-align: center;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.content{
    box-shadow: #000000 0px 5px 5px;
    background-color: white;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    /*opacity:0.8;*/
}
/*
.headtitle_in_content{
    border-bottom: solid black 1px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*/
.content a{
    color: black;
    text-decoration: none;
    transition: 200ms;
}
.content a:hover{
    color: pink;
    transition: 200ms;
    font-size: larger;
}

li{
    list-style-type: none;
}
